<html>
<head>
</head>
<body bgcolor="LightYellow">
    <font face="Merlin">
        <center>
        <table border="1" cellspacing="2" cellpadding="5" width="100%">
        </center></td><td colspan="4"><center><font size="7" color="DarkGray"><marquee width=95%, bgcolor="HoneyDew">Government Fund Allocation And Tracking System</marquee></center></td></tr>
        <tr><td><center>
        <a href="/desc" target="des_page">Home</a></center></td>
        <td><center>
        <a href="/login" target="des_page">Login</a></center></td>
        <td><center>
        <a href="/registration" target="des_page">Registration</a></center></td>
        <td><center>
        <a href="/publictracking" target="des_page">Tracking Funds</a></center></td>
        </table>
        </center>
        </font>
<br><br><br><br>
<font face="Arial Black" size="4" color="Gray">
<center>
    <h1>State Fund Tracking System over blockchain</h1>
    <h3>
      Web application that tracks government fund allocation using
      blockchain. It allows users to register, login with roles, and track
      public or personal fund allocations. Users can also allocate funds
      through a form, and the system records transactions on the
      blockchain for security and transparency.
    </h3>
</center>
</font>
</body>
</html>

